---
layout: 'default'
description: 'Machs dr sälber! Das Motto von Kultopia und seine Auswirkungen auf die Festivallandschaft.'
---

<!-- Header and Nav -->

<div class="row">
  <div class="large-4 columns">
    <h1><img src="/images/kultopia.jpg"></h1>
  </div>
  <div class="large-8 columns">
    <h2 class="tagline">
      Man muss noch Chaos in sich haben, um einen tanzenden Stern gebären zu können.
    </h2>
  </div>
</div>

<!-- End Header and Nav -->

<div class="row">
  <div class="large-12 columns">
    <ul data-orbit data-options="timer_speed:3000; bullets:false;">
      <li><img src="/images/slideshow/spielbar.jpg" /></li>
      <li><img src="/images/slideshow/schiff.jpg" /></li>
      <li><img src="/images/slideshow/volk.jpg" /></li>
      <li><img src="/images/slideshow/horizon.jpg" /></li>
      <li><img src="/images/slideshow/stage.jpg" /></li>
      <li><img src="/images/slideshow/feuer.jpg" /></li>
      <li><img src="/images/slideshow/fruchtstand.jpg" /></li>
    </ul>
    <hr />
  </div>
</div>

<!-- Second Band (Image Left with Text) -->

<div class="row">
  <div class="large-4 teaser small-12 columns">
    <img src="/images/teasers/kindernachmittag.jpg">
  </div>
  <div class="large-8 columns">
    <h4>Der Verein Kultopia</h4>
    <p>"Machs dr sälber" war das Motto der legendären Peacemoutain Festivals. Ein friedlicher Hügel erwachte für drei Wochen zum Leben und ein verträumtes und verspieltes Festival ohne Grenzen entstand.</p>
    <p>Die Openairs gehören zwar der Vergangenheit an, das Know-How und das Material lebt aber an diversen Openairs und Anlässen von anderen Veranstaltern weiter. Schau doch rein in unsere <a href="http://www.flickr.com/photos/kultopia/sets/">Foto- und Videosammlung</a> oder erlebe das Festival in unserer <a href="http://vimeo.com/17198565">Dokumentation</a> erneut.</p>
  </div>
  <div class="large-12 columns">
    <hr/>
  </div>
</div>
</div>


<!-- Third Band (Image Right with Text) -->

<div class="row">
<div class="large-8 columns">
  <h4>Spielbar Bremgarten</h4>

  <p>In diesem Jahr wurde zum ersten Mal die Spielbar im Herzen von Bremgarten aufgebaut, direkt neben dem Pyramidenbrunnen auf dem Kiesplatz beim Stadtschulhaus. Die Spielbar war im August und September von Mittwoch bis Samstag geöffnet.</p>

  <p><b>Die Spielbar ist im Winterschlaf und wird voraussichtlich im Spätsommer 2014 wieder ihre Pforten öffnen.</b></p>

  <!--div class="large-12 panel columns">
    <a href="http://eepurl.com/BYd8D" target="mailchimp" class="qr">
      <img src="http://eepurl.com/BYd8D.qr.2" />
    </a>
    <p>Erhalte jeden Dienstag alle aktuellen Infos der Spielbar per Email. Einfach beim <a href="http://eepurl.com/BYd8D" target="mailchimp">Spielbar Wochenprogram Newsletter</a> anmelden oder im <a href="http://us7.campaign-archive2.com/home/?u=77c781df830b6055b84484fb5&id=3786dda4a9">Archiv</a> stöbern.</p>
  </div-->
</div>
<div class="large-4 teaser small-12 columns">
  <img src="/images/teasers/bar.jpg">
</div>
<div class="large-12 columns">
  <hr/>
</div>
</div>


<!-- third Band (Image Left with Text) -->
<div class="row">
<div class="large-4 teaser small-12 columns">
  <img src="/images/teasers/buehne.jpg">
</div>
<div class="large-8 columns">
  <h4>Bühnenvermietung</h4>
  <p>Der Verein Kultopia besitzt drei Bühnen von gross bis klein und auch diverse Zelte für jeden Zweck. Auch haben wir jede Menge anderes Material, welches wir interessierten Leuten zu einen fairen Preis für ihren Anlass vermieten. Wir organisieren auch den Transport, Auf- und Abbau der Bühnen und Zelte.</p>
</div>
<div class="large-8 panel columns">
  <p>Mehr Details findest du in unserem <a href="/docs/Kultopia-Material.pdf">Bühnenkatalog</a>. Für weitere Informationen wende dich bitte direkt an <a href="mailto:marco.hess@linkflink.ch">Marco Hess</a>.
</div>
</div>
</div>

<!-- Footer -->

<footer class="row">
<div class="large-12 columns">
<hr />
<div class="row">
  <div class="large-4 columns">
    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.de"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></p>
  </div>
  <div class="large-4 columns">
    <p>
    Verein Kultopia &#9996; 5620 Bremgarten AG
    </p>
  </div>
  <div class="large-4 columns">
    <ul class="inline-list right">
      <li><a href="mailto:info@kultopia.ch">info@kultopia.ch</a></li>
      <li><a href="http://www.flickr.com/photos/kultopia/sets/">Flickr</a></li>
      <li><a href="http://vimeo.com/user5322168">Vimeo</a></li>
    </ul>
  </div>
</div>
</div>
</footer>
